<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RETROCOG</title>
  <link rel="stylesheet" href="https://unpkg.com/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/concrete.css">
  <link rel="stylesheet" href="/style.css">
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
</head>
<body>
  <div class="search-container">
    <input id="search" type="search" placeholder"search site content">
    <div class="search-results">
      <div class="search-results__items"></div>
    </div>
  </div>
  <nav class="main-menu">
    {% for menu_item in config.extra.menu_items %}
    <a href="{{ config.base_url }}{{ menu_item.path }}"
       title="{{ menu_item.label }}">
        {{ menu_item.label }}
    </a>
    {% endfor %}
  </nav>
  <section class="section">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
    <script type="text/javascript" src="{{ config.base_url }}/elasticlunr.min.js"></script>
    <script type="text/javascript" src="{{ config.base_url }}/search_index.en.js"></script>
    <script type="text/javascript" src="{{ config.base_url }}/search.js"></script>
</body>
</html>
