{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Retrocog
</h1>
<p>Retrocognition (also known as postcognition or hindsight), from the Latin retro meaning "backward, behind" and cognition meaning "knowing," describes "knowledge of a past event which could not have been learned or inferred by normal means." The term was coined by Frederic W. H. Myers. 
<p>
<p>See <a href="/blog/">posts</a></p>
{% endblock content %}
