{% if paginator and paginator.number_pagers > 1 %}
    <nav class="pagination">
      {% if paginator.current_index != 1 %}
      <a title="first page" href="{{ paginator.first }}" >&lt;&lt;</a>
      {% endif %}
      {% if paginator.previous and paginator.current_index > 2 %}
      <a title="previous page" href="{{ paginator.previous }}" >&lt;</a>
      {% endif %}
      {{paginator.current_index}}
      {% if paginator.next and paginator.current_index < (paginator.number_pagers - 1) %}
      <a title="next page" href="{{ paginator.next }}" >&gt;</a>
      {% endif %}
      {% if paginator.current_index != paginator.number_pagers %}
      <a title="last page" href="{{ paginator.last }}">&gt;&gt;</a>
      {% endif %}
    </nav>
{% endif %}
